<a href="https://colab.research.google.com/github/Deepsikha-06/23-cy-06/blob/main/comprehension.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [4]:
# the list of number
list_of_numbers= [1,2,4,6,11,14,17,20]


#let us first initialize a list where we will be appendingthe squares in each iteration

squared_numbers=[]

for number in list_of_numbers:
  #use the append method to add the numbers one by one to our list
  squared_numbers.append(number** 2)
  #print(squared_numbers)

  print(f"the list of squared numbers is {squared_numbers}")

the list of squared numbers is [1]
the list of squared numbers is [1, 4]
the list of squared numbers is [1, 4, 16]
the list of squared numbers is [1, 4, 16, 36]
the list of squared numbers is [1, 4, 16, 36, 121]
the list of squared numbers is [1, 4, 16, 36, 121, 196]
the list of squared numbers is [1, 4, 16, 36, 121, 196, 289]
the list of squared numbers is [1, 4, 16, 36, 121, 196, 289, 400]

In [5]:
#getting the list of squares using list comprehension
squared_numbers=[number**2 for number in list_of_numbers]
print(squared_numbers)

[1, 4, 16, 36, 121, 196, 289, 400]

In [15]:
print(list_of_numbers)

[1, 2, 4, 6, 11, 14, 17, 20]

In [16]:
#writting list comprehension using conditionals
even_squared_numbers = [number**2 for number in list_of_numbers if number%2==0]
print(even_squared_numbers)

[4, 16, 36, 196, 400]

In [17]:
#writting list comprehension using conditionals
odd_squared_numbers = [number**2 for number in list_of_numbers if number%2!=0]
print(odd_squared_numbers)

[1, 121, 289]

In [18]:
#writting list comprehension using conditionals
odd_squared_numbers = [number**2 if number%2!=0 else number**3 for number in list_of_numbers]
print(odd_squared_numbers)

[1, 8, 64, 216, 121, 2744, 289, 8000]

In [19]:
list(range(4))

[0, 1, 2, 3]

In [20]:
list_of_numbers=[]

for num1 in range(4):
  for num2 in range(3):
    #print(num1,num2)
    list_of_numbers.append(num2)

    print(list_of_numbers)

[0]
[0, 1]
[0, 1, 2]
[0, 1, 2, 0]
[0, 1, 2, 0, 1]
[0, 1, 2, 0, 1, 2]
[0, 1, 2, 0, 1, 2, 0]
[0, 1, 2, 0, 1, 2, 0, 1]
[0, 1, 2, 0, 1, 2, 0, 1, 2]
[0, 1, 2, 0, 1, 2, 0, 1, 2, 0]
[0, 1, 2, 0, 1, 2, 0, 1, 2, 0, 1]
[0, 1, 2, 0, 1, 2, 0, 1, 2, 0, 1, 2]

In [21]:
#we can write it in a slightly different way
list_of_numbers=[num2 for num1 in range (4)for num2 in range (3)]
print(list_of_numbers)

[0, 1, 2, 0, 1, 2, 0, 1, 2, 0, 1, 2]

In [22]:
list_of_numbers=[num2**2 for num2 in range(3) for num1 in range(4)]
print(list_of_numbers)

[0, 0, 0, 0, 1, 1, 1, 1, 4, 4, 4, 4]

In [23]:
sample=[[]]
len(sample)

sample[0]

[]

In [28]:
list_of_lists=[]
for num1 in range(4):
  #append an empty sublist inside the list
  list_of_lists.append([]) #[[0]], list_of_lists[1]
  #print(list_of_lists)

  for num2 in range(3):
    #append the element within the sublist
    list_of_lists[num1].append(num2) #list_of_list[0]

    print(list_of_lists)

[[0]]
[[0, 1]]
[[0, 1, 2]]
[[0, 1, 2], [0]]
[[0, 1, 2], [0, 1]]
[[0, 1, 2], [0, 1, 2]]
[[0, 1, 2], [0, 1, 2], [0]]
[[0, 1, 2], [0, 1, 2], [0, 1]]
[[0, 1, 2], [0, 1, 2], [0, 1, 2]]
[[0, 1, 2], [0, 1, 2], [0, 1, 2], [0]]
[[0, 1, 2], [0, 1, 2], [0, 1, 2], [0, 1]]
[[0, 1, 2], [0, 1, 2], [0, 1, 2], [0, 1, 2]]

In [30]:
#using list comprehension we can write the same thing
list_of_lists=[[num2 for num2 in range(3)] for num1 in range(4)]
print(list_of_lists)

[[0, 1, 2], [0, 1, 2], [0, 1, 2], [0, 1, 2]]

In [31]:
#using list comprehension we can write the same thing
list_of_lists=[[num1 for num2 in range(3)] for num1 in range(4)]
print(list_of_lists)

[[0, 0, 0], [1, 1, 1], [2, 2, 2], [3, 3, 3]]

In [35]:
heisenberg_quote="it ceases to exist without me. no, you clearly don't know who you're talking to, so let me clue you in. i am not in dang"

word_by_walter= heisenberg_quote.split(' ')
print(word_by_walter)

['it', 'ceases', 'to', 'exist', 'without', 'me.', 'no,', 'you', 'clearly', "don't", 'know', 'who', "you're", 'talking', 'to,', 'so', 'let', 'me', 'clue', 'you', 'in.', 'i', 'am', 'not', 'in', 'dang']

In [36]:
heisenberg_quote.split('t')

['i',
 ' ceases ',
 'o exis',
 ' wi',
 'hou',
 " me. no, you clearly don'",
 " know who you're ",
 'alking ',
 'o, so le',
 ' me clue you in. i am no',
 ' in dang']

In [37]:
#let u store the first letter of each word in another list

first_letter=[]

for word in word_by_walter:
  first_letter.append(word[0])

  #print the first_letter list
  print(first_letter)

['i']
['i', 'c']
['i', 'c', 't']
['i', 'c', 't', 'e']
['i', 'c', 't', 'e', 'w']
['i', 'c', 't', 'e', 'w', 'm']
['i', 'c', 't', 'e', 'w', 'm', 'n']
['i', 'c', 't', 'e', 'w', 'm', 'n', 'y']
['i', 'c', 't', 'e', 'w', 'm', 'n', 'y', 'c']
['i', 'c', 't', 'e', 'w', 'm', 'n', 'y', 'c', 'd']
['i', 'c', 't', 'e', 'w', 'm', 'n', 'y', 'c', 'd', 'k']
['i', 'c', 't', 'e', 'w', 'm', 'n', 'y', 'c', 'd', 'k', 'w']
['i', 'c', 't', 'e', 'w', 'm', 'n', 'y', 'c', 'd', 'k', 'w', 'y']
['i', 'c', 't', 'e', 'w', 'm', 'n', 'y', 'c', 'd', 'k', 'w', 'y', 't']
['i', 'c', 't', 'e', 'w', 'm', 'n', 'y', 'c', 'd', 'k', 'w', 'y', 't', 't']
['i', 'c', 't', 'e', 'w', 'm', 'n', 'y', 'c', 'd', 'k', 'w', 'y', 't', 't', 's']
['i', 'c', 't', 'e', 'w', 'm', 'n', 'y', 'c', 'd', 'k', 'w', 'y', 't', 't', 's', 'l']
['i', 'c', 't', 'e', 'w', 'm', 'n', 'y', 'c', 'd', 'k', 'w', 'y', 't', 't', 's', 'l', 'm']
['i', 'c', 't', 'e', 'w', 'm', 'n', 'y', 'c', 'd', 'k', 'w', 'y', 't', 't', 's', 'l', 'm', 'c']
['i', 'c', 't', 'e', 'w', 'm', 'n', 'y', 'c', 'd', 'k', 'w', 'y', 't', 't', 's', 'l', 'm', 'c', 'y']
['i', 'c', 't', 'e', 'w', 'm', 'n', 'y', 'c', 'd', 'k', 'w', 'y', 't', 't', 's', 'l', 'm', 'c', 'y', 'i']
['i', 'c', 't', 'e', 'w', 'm', 'n', 'y', 'c', 'd', 'k', 'w', 'y', 't', 't', 's', 'l', 'm', 'c', 'y', 'i', 'i']
['i', 'c', 't', 'e', 'w', 'm', 'n', 'y', 'c', 'd', 'k', 'w', 'y', 't', 't', 's', 'l', 'm', 'c', 'y', 'i', 'i', 'a']
['i', 'c', 't', 'e', 'w', 'm', 'n', 'y', 'c', 'd', 'k', 'w', 'y', 't', 't', 's', 'l', 'm', 'c', 'y', 'i', 'i', 'a', 'n']
['i', 'c', 't', 'e', 'w', 'm', 'n', 'y', 'c', 'd', 'k', 'w', 'y', 't', 't', 's', 'l', 'm', 'c', 'y', 'i', 'i', 'a', 'n', 'i']
['i', 'c', 't', 'e', 'w', 'm', 'n', 'y', 'c', 'd', 'k', 'w', 'y', 't', 't', 's', 'l', 'm', 'c', 'y', 'i', 'i', 'a', 'n', 'i', 'd']

In [38]:
#the same task but now with list comprehension
first_letter=[word[0] for word in word_by_walter]
print(first_letter)

['i', 'c', 't', 'e', 'w', 'm', 'n', 'y', 'c', 'd', 'k', 'w', 'y', 't', 't', 's', 'l', 'm', 'c', 'y', 'i', 'i', 'a', 'n', 'i', 'd']

In [39]:
heisenberg_quote.split(',')

['it ceases to exist without me. no',
 " you clearly don't know who you're talking to",
 ' so let me clue you in. i am not in dang']

In [40]:
my_string='alphabet inc.'

list_of_character=[char for char in my_string]
print(list_of_character)

['a', 'l', 'p', 'h', 'a', 'b', 'e', 't', ' ', 'i', 'n', 'c', '.']

In [41]:
#suppose we have a tuple of days
days=('monday','tuesday','wednesday','thursday','friday','saturday','sunday')

tuple(day for day in days)

('monday', 'tuesday', 'wednesday', 'thursday', 'friday', 'saturday', 'sunday')

In [42]:
#let us create a tuple where we want to remove the word 'day'nfrom each tuple element
day_without_day= tuple([day[:-3] for day in days])
print(day_without_day)

('mon', 'tues', 'wednes', 'thurs', 'fri', 'satur', 'sun')

In [43]:
#using a for loop
first_letter= set()
for word in word_by_walter:
  first_letter.add(word[0])

  print(first_letter)

{'i'}
{'i', 'c'}
{'i', 'c', 't'}
{'i', 'c', 't', 'e'}
{'i', 'c', 'e', 'w', 't'}
{'i', 'c', 'e', 'm', 'w', 't'}
{'i', 'c', 'e', 'n', 'm', 'w', 't'}
{'i', 'c', 'e', 'n', 'm', 'y', 'w', 't'}
{'i', 'c', 'e', 'n', 'm', 'y', 'w', 't'}
{'i', 'c', 'e', 'n', 'm', 'y', 'w', 'd', 't'}
{'i', 'c', 'e', 'n', 'm', 'y', 'k', 'w', 'd', 't'}
{'i', 'c', 'e', 'n', 'm', 'y', 'k', 'w', 'd', 't'}
{'i', 'c', 'e', 'n', 'm', 'y', 'k', 'w', 'd', 't'}
{'i', 'c', 'e', 'n', 'm', 'y', 'k', 'w', 'd', 't'}
{'i', 'c', 'e', 'n', 'm', 'y', 'k', 'w', 'd', 't'}
{'i', 'c', 'e', 'n', 'm', 's', 'y', 'k', 'w', 'd', 't'}
{'i', 'c', 'e', 'n', 'm', 's', 'l', 'y', 'k', 'w', 'd', 't'}
{'i', 'c', 'e', 'n', 'm', 's', 'l', 'y', 'k', 'w', 'd', 't'}
{'i', 'c', 'e', 'n', 'm', 's', 'l', 'y', 'k', 'w', 'd', 't'}
{'i', 'c', 'e', 'n', 'm', 's', 'l', 'y', 'k', 'w', 'd', 't'}
{'i', 'c', 'e', 'n', 'm', 's', 'l', 'y', 'k', 'w', 'd', 't'}
{'i', 'c', 'e', 'n', 'm', 's', 'l', 'y', 'k', 'w', 'd', 't'}
{'i', 'c', 'e', 'n', 'm', 's', 'l', 'y', 'k', 'w', 'd', 'a', 't'}
{'i', 'c', 'e', 'n', 'm', 's', 'l', 'y', 'k', 'w', 'd', 'a', 't'}
{'i', 'c', 'e', 'n', 'm', 's', 'l', 'y', 'k', 'w', 'd', 'a', 't'}
{'i', 'c', 'e', 'n', 'm', 's', 'l', 'y', 'k', 'w', 'd', 'a', 't'}

In [44]:
#using set comprehension
first_letter={word[0] for word in word_by_walter}
print(first_letter)

{'i', 'c', 'e', 'n', 'm', 's', 'l', 'y', 'k', 'w', 'd', 'a', 't'}

In [51]:
country_city_list= [('india','new delhi'),('australia','canberra'),('united states','washington dc'),('england','london')]

#lets convert the list of tuple to a dictionary
country_city_dict=dict(country_city_list)
print(country_city_dict)

{'india': 'new delhi', 'australia': 'canberra', 'united states': 'washington dc', 'england': 'london'}

In [53]:
#the conventional for loop approach
flipped={}
for country, city in country_city_dict.items():
  flipped[city]=country
  print(flipped)

{'new delhi': 'india'}
{'new delhi': 'india', 'canberra': 'australia'}
{'new delhi': 'india', 'canberra': 'australia', 'washington dc': 'united states'}
{'new delhi': 'india', 'canberra': 'australia', 'washington dc': 'united states', 'london': 'england'}

In [54]:
#the new dictionary comprehension
flipped= {city:country for country, city in country_city_dict.items()}
print(flipped)

{'new delhi': 'india', 'canberra': 'australia', 'washington dc': 'united states', 'london': 'england'}

In [55]:
#we can further add conditionals
flipped={city:country for country,  city in country_city_dict.items() if country[0]in ['e','a']}
print(flipped)

{'canberra': 'australia', 'london': 'england'}

In [56]:
#the new dictionary comprehension
flipped={country[:2]:city[-2:] for country, city in country_city_dict.items()}
print(flipped)

{'in': 'hi', 'au': 'ra', 'un': 'dc', 'en': 'on'}

In [57]:
print(country_city_dict)

{'india': 'new delhi', 'australia': 'canberra', 'united states': 'washington dc', 'england': 'london'}